/* Pour la couleur du fond */

body{
	background-color: #20191B;
	min-height: 100%;
  /*
  margin-left:10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;  */
  /* apparition lente du titre */
  opacity:0;
  -moz-animation: anim 2s linear forwards 0.5s;
  -webkit-animation: anim 2s linear forwards 0.5s;
  -o-animation: anim 2s linear forwards 0.5s;
  -ms-animation: anim 2s linear forwards 0.5s;
  animation: anim 2s linear forwards 0.5s;
  
}

@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@-ms-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

/* Pour le titre */

h1{
    color: #fff;
    text-align: left;
    font-size: 2em;
    font-family: Verdana,"Arial Black",sans-serif;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

/* Corps du texte */

p{
  color: #fff;
  text-align: left;
  font-size: 1em;
  font-family: Verdana,"Arial Black",sans-serif;
  margin-top: 2%;
  margin-left: 10%;
  width: 50%;
  max-width: 60%;
  min-width: 40%;
  margin-bottom: 5%;
  height: 50%;
}

/* Pour les liens */

p a {
  cursor: pointer;
  font-size: 1em;
  margin-top: 2%;
  text-align: left;
  font-family: Verdana,"Arial Black",sans-serif;
  color: #fff;

}

/* Pour les boutons */

.float-right {
  float: right;
}

.clear {
  clear: both;
}
.bottom-buttons {
  width: 350px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 80%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -175px;
  z-index: 2;
}

.button a {
  border: 4px solid white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 80%;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  /* apparition lente des boutons */
  opacity:0;
  -moz-animation: anim 2s linear forwards 1.5s;
  -webkit-animation: anim 2s linear forwards 1.5s;
  -o-animation: anim 2s linear forwards 1.5s;
  -ms-animation: anim 2s linear forwards 1.5s;
  animation: anim 2s linear forwards 1.5s;
}

@-moz-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@-webkit-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@-o-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@-ms-keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}

@keyframes anim {
   0%  {opacity:0;}
   100% {opacity:1;}
}


